<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/app.css">
  <link rel="stylesheet" type="text/css" href="styles/trello.css">
  <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<body>
  <%= yield %>
<footer>
  <p>Posted by: Quy Nguyen</p>
  <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
</footer>

</body>
</html>