<h1>This is Trello page!<br>Welcome</h1>
<div class="list-box">
<% items.each do |item|%>
<%= erb :"_item.html", locals: {item: item}%>
<%end%>
<input class="add-item" type="text" placeholder="Add an item..."/>
</div>

